.ant-pagination-item-active {
  border-color: var(--color-primary) !important;
}

.ant-pagination-item-active a {
  color: var(--color-primary) !important;
}

.ant-pagination-item-active:hover {
  border-color: #388e91 !important;
}

.ant-pagination-item-active:hover a {
  color: #388e91 !important;
}

.ant-table-content
{
    width: 100%;
    overflow-x: scroll;
}
