:root {

    --color-primary: #024593;
    --color-primary-hover: #4f6986;
    --color-white: white;
    --color-black: black;
    --color-neutral: #f7f5f2;
    --color-shading: #dcdcdb;
    --color-border: #e5e3e1;
  
    --color-font-0: var(--color-black);
    --color-font-1: #181719;
    --color-font-2: #323133;
    --color-font-3: #4c4c4b;
    --color-font-4: #807f7d;
    --color-font-5: #bfbfbf;
    --color-font-placeholder: var(--color-font-4);
  
    --color-icon-1: #181719;
    --color-icon-2: #323133;
    --color-icon-3: #4c4c4b;
    --color-icon-4: #807f7d;
  
    --color-green: #00AF46;
    --color-green-hover: #52906b;
    --color-green-gradient: linear-gradient(180deg, var(--color-green) 0%, var(--color-green) 100%);
    --color-yellow: #FF9900;
    --color-orange: #FF602E;
    --color-red: #FF2626;
    --color-progress: #ffd133;
  
    --shadow-container: 0px 1px 10px rgba(37, 122, 250, 0.2);
    --shadow-action: 0px 11px 17px -7px rgba(30, 74, 141, 0.29);
  }
  
  html, body {
    background: var(--color-neutral);
    color: var( --color-font-1) !important;
  }